<h1>{{ title }}</h1>
@if (todosStore.isLoading()) {
<p>Loading...</p>
} @else {
<p>Data loaded successfully!</p>
}

<p>Todos: {{ todosCount() }}</p>
<ul>
  @for (todo of todosStore.todos(); track $index) {
  <li>
    {{ todo.title }} - {{ todo.completed ? "Completed" : "Not Completed" }}
  </li>
  }
</ul>

<p>Filter: {{ todosStore.filter.order() }} - {{ todosStore.filter.query() }}</p>
<p>Order: {{ order() }}</p>
<p>Query: {{ todosStore.query.sort.criteria() }}</p>
<p>
  <button (click)="setTodos()">Todos</button>&nbsp;
  <button (click)="setFilter()">Filter</button>&nbsp;
  <button (click)="resetStore()">Reset</button>&nbsp;
  <button (click)="setCriteria()">Criteria</button>&nbsp;
</p>
